# Server Configuration

MONGO_URI=mongodb+srv://admin:adminpass1234@mycluster.nttgikk.mongodb.net/Auto-Ria-Clone?appName=MyCluster

# JWT Auth Secrets
JWT_ACCESS_SECRET=your_access_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# JWT Action Tokens
JWT_ACTION_SECRET=your_action_secret_key
JWT_ACTION_EXPIRATION=24h
JWT_ACTION_VERIFY_SECRET=your_verify_secret_key
JWT_ACTION_VERIFY_EXPIRATION=1h

# Security & Admin
ADMIN_KEY=your_secret_admin_registration_key
OLD_PASSWORD_EXPIRATION=30d
PASSWORD_HISTORY_DAYS=90

# Email Service (SMTP)
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password

# AWS S3 Storage
AWS_S3_BUCKET_NAME=your_bucket_name
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key
AWS_S3_REGION=eu-central-1
AWS_S3_ENDPOINT=https://s3.eu-central-1.amazonaws.com

NODE_ENV=development