# Server Configuration

# Це додано виключно в навчальних цілях для полегшення перевірки, в реальності цього не має бути!
MONGO_URI=mongodb+srv://<логин>:<password>@mycluster.nttgikk.mongodb.net/Auto-Ria-Clone?appName=MyCluster

# JWT Auth Secrets
JWT_ACCESS_SECRET=178b5bb9901567f8979314e657038882dd75105fc84d45203f000a0ebe206a5fcab40b44613ad92849ed14b5ac0c43425851
JWT_REFRESH_SECRET=b9dbfa14bca1f587acf7572e09d7fa139fe7f429adc477d28a1b48dce24552615eac4478245070109878a27aeb59468ab3b4
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=24h

# JWT Action Tokens
JWT_ACTION_SECRET=c0d25afdcf044daa86d94940c593dd86f3bb8f43581296d92a1109ae1a42
JWT_ACTION_EXPIRATION=1h

JWT_ACTION_VERIFY_SECRET=6ee90dffc921b4c4832e846f17b9696b9bd4597ee2f74a7b29fde5b5770b
JWT_ACTION_VERIFY_EXPIRATION=1h

# Security & Admin
ADMIN_KEY="384irhjhfjhjr8jh&^4HHjdngee"
OLD_PASSWORD_EXPIRATION="180 days"
PASSWORD_HISTORY_DAYS=180

# Email Service (SMTP)
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password

# AWS S3 Storage
AWS_S3_BUCKET_NAME=your_bucket_name
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key
AWS_S3_REGION=eu-central-1
AWS_S3_ENDPOINT=https://s3.eu-central-1.amazonaws.com

NODE_ENV=development